/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 50px;
    width: 100px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 4px solid #1976d2;
    color: #1976d2;
  }